<fieldset>
	<label><%= I18n.t("title", :default => "Map") %></label>

	<input type="text" id="map-search-term-<%= sec.id %>" placeholder="<%= sec.name %>">
	<button data-sec-id="<%= sec.id %>" class="btn btn-small btn-success search_map">
		<%= I18n.t("search", :default => "Search") %>
	</button>
</fieldset>

<div id="map-<%= sec.id %>"></div>

<div id="map-container" 
    style="width: 400x; 
        height: 400px; 
        border: 1px solid gray;
        overflow:hidden;">
</div>