<div class="widget-box">
	<div class="widget-header widget-header-small header-color-blue">  </div>

	<div class="widget-body">
		<div class="widget-main no-padding">
			<textarea class="span12" name="content" data-provide="markdown" rows="10">**Markdown Editor** inside a *widget box*

- list item 1
- list item 2
- list item 3</textarea>
		</div>

		<div class="widget-toolbox padding-4 clearfix">
			<div class="btn-group pull-left">
				<button class="btn btn-small btn-info">
					<i class="icon-remove bigger-125"></i>
					Cancel
				</button>
			</div>

			<div class="btn-group pull-right">
				<button class="btn btn-small btn-purple">
					<i class="icon-save bigger-125"></i>
					Save
				</button>
			</div>
		</div>
	</div>
</div>
