
<fieldset>
	<label><%= I18n.t("title", :default => "Title") %></label>

	<input type="text" id="new_title_name-<%= sec.id %>" placeholder="<%= sec.name %>">
	<span class="help-block"><%= I18n.t("title_default_text", :default => "If this value is blank the default title will be the name of section.") %></span>
	<button id="save_title" data-sec-id="<%= sec.id %>" class="btn btn-small btn-success">
		<%= I18n.t("save", :default => "Save") %>
	</button>
</fieldset>

