<div class="widget-main">
	<h4 class="header green lighter bigger">
		<i class="icon-group blue"></i>
		新用户注册
	</h4>

	<div class="space-6"></div>
	<p>
		请填写以下信息:
	</p>

	<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <fieldset>
	  <%= f.error_notification %>
	  <%= display_base_errors resource %>
	  <span class="block input-icon input-icon-right">
	  <%= f.input :name, :autofocus => true, input_html: { class: 'span12'}, label: false, placeholder: '用户名'  %>
	  <i class="icon-user"></i>
	  </span>
	  <span class="block input-icon input-icon-right">
	  <%= f.input :email, :required => true, input_html: { class: 'span12'}, label: false, placeholder: '邮箱'  %>
	  <i class="icon-envelope"></i>
	  </span>
	  <span class="block input-icon input-icon-right">
	  <%= f.input :password, :required => true, input_html: { class: 'span12'}, label: false, placeholder: '密码'  %>
	  <i class="icon-lock"></i>
	  </span>
	  <span class="block input-icon input-icon-right">
	  <%= f.input :password_confirmation, :required => true, input_html: { class: 'span12'}, label: false, placeholder: '再次输入密码'  %>
	  <i class="icon-retweet"></i>
	  </span>

	  <label>
	    <input type="checkbox" />
		<span class="lbl">
			I accept the
			<a href="#">User Agreement</a>
		</span>
	  </label>
	  <%= f.button :submit, 'Sign up', :class => 'span4 btn btn-small btn-primary' %>
	  </fieldset>
	<% end %>

</div>
<%= render "devise/shared/links" %>

