<div class="toolbar clearfix">
	<%- if controller_name != 'sessions' %>
	  	<div>
	  	<%= link_to t("login", :default => "Login"), new_session_path(resource_name) , :class => "user-login-link" %><br />
	  </div>
	<% end -%>

	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	  <div>
	  <%= link_to t("register", :default => "Register"), new_registration_path(resource_name), :class => "user-signup-link" %><br />
	</div>
	<% end -%>

	<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
	  <div>
	  <%= link_to t("forgot_password", :default => "Forgot password"), new_password_path(resource_name), :class => "forgot-password-link" %><br />
	</div>
	<% end -%>

	<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
	  <div>
	  <%= link_to t("didnt_receive_reset", :default => "Didn't receive reset password email?"), new_confirmation_path(resource_name) %><br />
	</div>
	<% end -%>

	<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
	  <div>
	  <%= link_to t("didnt_receive_unlock", :default => "Didn't receive unlock instructions?"), new_unlock_path(resource_name) %><br />
	</div>
	<% end -%>

	<%- if devise_mapping.omniauthable? %>
	  <%- resource_class.omniauth_providers.each do |provider| %>
	    <div>
	    <%= link_to "Sign in with #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
	</div>
	  <% end -%>
	<% end -%>
</div>