
.accordion-group {
	position: relative;
}


.accordion-group .bt_tools {
	width: 40px;
	position: absolute;
	right: 4px;
	top: 5px;
	display: none;
}

.accordion-group:hover .bt_tools {
	display: block;
	
}

.accordion-group .reorder_icon {
	width: 40px;
	position: absolute;
	left: 10px;
	top: 5px;
	display: none;
}

.accordion-group:hover .reorder_icon {
	display: block;
	
}

.accordion-heading a {
	padding-left: 10px !important ;
}

.accordion-heading:hover a {
	padding-left: 40px !important ;
}

