.delete_section {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	color: rgba(255, 0, 0, 0.5);
	position: absolute;
	top: -3px;
	right: -1px;
	display: none;
}

#myTab li.active:hover .delete_section {
	display: block;
}

#preview {
	position: absolute;

	margin: 10px auto;
	xwidth: 322px;
	xheight: 607px;
	background: url(/assets/iphoneframe.png) center center no-repeat;

	/* new */
	background-size: 412px;
	width: 400px;
	height: 610px;
}

#preview .window {
	/*width: 250px;
	height: 376px;
	margin-top: 115px;
	margin-left: 36px;*/
	border: 0px;
	background: #000;

	/* new */
	width: 320px;
	height: 480px;
	margin-top: 65px;
	margin-left: 40px;
}

.preview-fix {
	position: fixed !important;
	top: 10px;
	margin-left: 36px;
}

#page-content {
	min-height: 650px;
}