<div class="widget-main">
	<h4 class="header red lighter bigger">
		<i class="icon-key"></i>
		<%= I18n.t("find_password", :default => "Find password") %>
	</h4>

	<div class="space-6"></div>
	<p>
		<%= I18n.t("enter_email", :default => "Please enter your email") %>
	</p>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>


	<fieldset>
		<label>
			<span class="block input-icon input-icon-right">
				<%= f.input :email, :required => true, input_html: { class: 'span12'}, label: false, placeholder: I18n.t("email", :default => "email") , :autofocus => true %>
				<i class="icon-envelope"></i>
			</span>
		</label>

		<div class="row-fluid">
			<%= f.button :submit,  I18n.t("find_password", :default => "Find password"), :class =>"span5 offset7 btn btn-small btn-danger" %>

		</div>
	</fieldset>
<% end %>
</div>
<%= render "devise/shared/links" %>
