<div class="widget-main">

	<h4 class="header blue lighter bigger">
		<i class="icon-coffee green"></i>
		请输入您的信息
	</h4>
	<div class="space-6"></div>
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  	<fieldset>
  	<span class="block input-icon input-icon-right">
  		<%= f.input :email, :autofocus => true, input_html: { class: 'span12'}, label: false, placeholder: '邮箱'  %>
  		<i class="icon-envelope"></i>
  	</span>
  	<span class="block input-icon input-icon-right">
  		<%= f.input :password, input_html: { class: 'span12'}, label: false, placeholder: '密码' %>
  		<i class="icon-lock"></i>
    </span>
    <div class="space"></div>
	<div class="row-fluid">
		<label class="span8">
  			<%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
		</label>

  	<%= f.button :submit, "登录", :class => 'span4 btn btn-small btn-primary' %>
	</fieldset>
	<% end %>

</div>
<%= render "devise/shared/links" %>
