<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="myModalLabel">Please choose a component.</h3>
	</div>
	<div class="modal-body">
	<p>
		<select name="selecte_component" class="pagetypepicker">
	      <option value=""></option>
		  <option data-img-src="/assets/comp-text-64.png" value="text">  text  </option>
		  <option data-img-src="/assets/comp-image-64.png" value="image">  image  </option>
		  <option data-img-src="/assets/comp-movie-64.png" value="movie">  movie  </option>
		  <option data-img-src="/assets/comp-galery-64.png" value="galery">  galery  </option>
		  <option data-img-src="/assets/comp-separator-64.png" value="separator">  separator  </option>
		  <option data-img-src="/assets/comp-map-64.png" value="map">  map  </option>		  
		  <option data-img-src="/assets/comp-mail-64.png" value="mail">  mail  </option>
		</select>
	</p>
	</div>
	<div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	<button class="btn btn-primary" data-id="<%= sec.id %>" id="add_component_bt"><%= I18n.t("add_component", :default => "Add Component") %></button>
	</div>
</div>

