<%= simple_form_for(@app) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :require => true , label: t("name") %>
    <%= f.association  :category, label_method: :select_label, :require => true, prompt: t("choose_category"), label: t("category"), input_html: { :style => "font-family:FontAwesome;"} %>
	  <%= image_tag @app.icon.url(:normal), :class => "well well-small" %>
    <%= f.input :icon, label: I18n.t("change_icon", :default => "Change Icon")  %>
    <%= image_tag @app.splash_screen.url(:iphone4), :class => "well well-small" %>
    <%= f.input :splash_screen, label: I18n.t("change_splash_screen", :default => "Change splash screen image") %>

    <%= f.input :description, label: t("description")  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
