<%
    xtype = c
    xtype = c["xtype"] if c.class == Hash
%>

<div class="accordion-group">
    <div class="accordion-heading">
        <a <% if i %>href="#<%= "collapse-#{i}" %>"<% end %> data-parent="" data-toggle="collapse" class="accordion-toggle collapsed">
            <%= xtype %>
        </a>
    </div>

    <div class="reorder_icon">
        <a href="#" class="btn btn-minier btn-info">
            <i class="icon-only icon-reorder"></i>
        </a>
    </div>

    <div class="bt_tools">
        <a <% if i %>data-array-id="<%= i %>"<% end %> data-sec-id="<%= sec.id %>" href="#" class="btn btn-minier btn-danger delete_component">
            <i class="icon-only icon-remove"></i>
        </a>
    </div>

    <div class="accordion-body collapse" <% if i %>id="<%= "collapse-#{i}" %>"<% end %>>
        <div class="accordion-inner">
            <%= render :file => "apps/comp_form/_#{xtype}.html.erb", :locals => { sec: sec } %>
        </div>
    </div>
</div>