<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
<%= content_for :modal do %>
	<%= render 'component_picker_modal', sec: sec %>
<% end %>
<div id="accordion-<%= sec.id %>" class="accordion">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a href="#collapse-title" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle">
				Title
			</a>
		</div>

		<div class="accordion-body in collapse" id="collapse-title" style="height: auto;">
			<div class="accordion-inner">
				<%= render "apps/comp_form/title", sec: sec %>
			</div>
		</div>
	</div>

	<% sec.page.pageconfig.components.each_with_index do |c , i| %>
		<%= render :file => "apps/_home_design_panel_item.html.erb", :locals => { c: c, i: i, sec: sec } %>
	<% end %>

</div>
