<%= simple_form_for(@section, :url => add_section_app_path, :method => :post) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :require => true , label: t("name") %> 
    <span><%= I18n.t("pagetype", :default => "Page Type") %></span>
    <select name="section[pagetype]" class="pagetypepicker">
      <option value=""></option>
	  <option data-img-src="/assets/sec-home.png" value="home">  home  </option>
	  <option data-img-src="/assets/sec-list.png" value="list">  list  </option>
	  <option data-img-src="/assets/sec-simple.png" value="simple">  simple  </option>
	  <option data-img-src="/assets/sec-galery.png" value="galery">  galery  </option>
	  <option data-img-src="/assets/sec-contact.png" value="contact">  contact  </option>
	  <option data-img-src="/assets/sec-map.png" value="map">  map  </option>
	</select>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
