<div id="preview">
    <iframe id="preview-frame" class="window" src="/apps/<%= @app.id %>/preview?t=<%= Time.now.to_i %>"></iframe>
</div>

<% content_for :js do %>

<script type="text/javascript">
<!--

(function() {

    var _win = window,
        _$win = $(_win),
        _preview = $('#preview'),
        _previewframe = document.getElementById('preview-frame');

    _$win.scroll(function(e) {

        var top = _$win.scrollTop();

        if (top > 86) {
            $('#preview').addClass('preview-fix');
        } else {
            $('#preview').removeClass('preview-fix');
        }

    });

    _win.onerror = function() {
        console.debug('ERROR', arguments);
    };

    function receiveResponse(event) {
        // event.data
        // event.source.postMessage('response', event.origin);
    };

    function userPreviewAction() {
        // called from iframe when user click on footer or so.
    };

    _win.previewAction = userPreviewAction;
    _win.addEventListener('message', receiveResponse, false);

    _previewframe.contentWindow.postMessage('hello', '*');

}());

// -->
</script>

<% end %>