<div class="span8">
	<div class="widget-header" style="text-align: left">
		<div class="widget-toolbar no-border">
			<ul class="nav nav-tabs" id="myTab">
				<li>
					<a href="#menu_design" data-toggle="tab"><%= I18n.t("menu_design", :default => "Menu Creation") %></a>
				</li>

				<% @app.sections.each do |sec| %>
					<li>
						<a href="#<%= "tab-#{sec.id}" %>" data-toggle="tab"><%= sec.name %>
							<button class="delete_section" type="button" id-section="<%= sec.id %>" data-dismiss="alert">
				                <i class="icon-remove"></i>
				            </button>
						</a>
					</li>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="widget-body">
		<div class="widget-main padding-6">
			<div class="tab-content">
				<div class="tab-pane" id="menu_design">
					<%= render 'new_section_form' %>
				</div>
				<% @app.sections.each do |sec| %>
					<div class="tab-pane" id="<%= "tab-#{sec.id}" %>">
						<%= render "#{sec.pagetype}_design_panel", sec: sec %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>

<div class="span4" style="text-align: left;">
	<%= render 'preview' %>
</div>

<% content_for :js do %>

<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.3"></script>
<script type="text/javascript">
<!--

    var urls = {
        addComponent: '<%= pages_add_component_path(@app) %>',
        deleteComponent: '<%= pages_delete_component_path(@app) %>',
        deleteSection: '<%= section_destroy_path %>'
    };

    $('.image-component').each(function() {
        $(this).ace_file_input({
            no_file: 'No File ...',
            btn_choose: 'Choose',
            btn_change: 'Change',
            droppable: false,
            onchange: null,
            thumbnail: false //| true | large
            //whitelist:'gif|png|jpg|jpeg'
            //blacklist:'exe|php'
            //onchange:''
            //
        });
    });

// -->
</script>

<script type="text/javascript">
<!--
    var map = document.getElementById('map-container');

    function initMap(selector) {
        var bmap = BMap;

        baidu_map = new bmap.Map(selector);
        baidu_localSearch = new bmap.LocalSearch(baidu_map);
        baidu_map.enableScrollWheelZoom();    //启用滚轮放大缩小，默认禁用
        baidu_map.enableContinuousZoom();    //启用地图惯性拖拽，默认禁用
        baidu_map.addControl(new bmap.NavigationControl());  //添加默认缩放平移控件
        baidu_map.addControl(new bmap.OverviewMapControl()); //添加默认缩略地图控件
        baidu_localSearch.enableAutoViewport(); //允许自动调节窗体大小
    }

    if (map !== null) {
        initMap('map-container');
    }
// -->
</script>

<% end %>
