<h1>Listing apps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Category</th>
    <th>Description</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @apps.each do |app| %>
  <tr>
    <td><%= app.name %></td>
    <td><%= app.category_id %></td>
    <td><%= app.description %></td>
    <td><%= app.user_id %></td>
    <td><%= link_to t('Show'), app %></td>
    <td><%= link_to t('Edit'), edit_app_path(app) %></td>
    <td><%= link_to t('Destroy'), app, method: :delete, data: { confirm: t('Are you sure?') } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('New App'), new_app_path %>
