<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Appfy iframe mobile preview</title>
    <meta name="description" content="Appfy preview">
    <%= stylesheet_link_tag "preview", :media => "all" %>
  </head>
  <body>
    <script type="text/javascript">
    <!--

    var appConfig = <%= @appconfig.to_json.html_safe %>;

    // -->
    </script>
    <%= javascript_include_tag "preview" %>
  </body>
</html>