<p id="notice"><%= notice %></p>

<p>
  <b><%= I18n.t("app_name", :default => "App name") %>:</b>
  <%= @app.name %>
</p>

<p>
  <b><%= I18n.t("category", :default => "Category") %>:</b>
  <i class='<%= @app.category.icon_css %>'></i> <%= @app.category.name %>
</p>
<p>
<b><%= I18n.t("app_icon", :default => "App Icon") %>:</b>
<%= image_tag @app.icon.url(:normal), :class => "well well-small" %>
</p>
<p>
<b><%= I18n.t("splash_screen", :default => "Splash screen") %>:</b>
<%= image_tag @app.splash_screen.url(:iphone4), :class => "well well-small" %>
</p>
<p>
  <b><%= I18n.t("description", :default => "Description") %>:</b>
  <%= @app.description %>
</p>

<%= link_to I18n.t("edit", :default => 'Edit'), edit_app_path(@app) %> |
<%= link_to I18n.t("back", :default => 'Back'), apps_path %>
