/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require bootstrap-responsive.min
 *= require font-awesome.min
 *= require font-awesome-corp
 *= require_tree ./homepage
*/

/* Image style */
#scrollUp {
	bottom: 2px;
  right: 6px;
	height: 38px;  /* Height of image */
	width: 38px; /* Width of image */
	background: url(../../assets/top.png) no-repeat;
}
