<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Icon css</th>
    <th>Icon unicode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><i class="<%= category.icon_css %>"></i> <%= category.icon_css %></td>
    <td><%= category.icon_unicode %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
