<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @category.name %>
</p>

<p>
  <b>Icon css:</b>
  <i class="<%= @category.icon_css %>"></i> <%= @category.icon_css %>
</p>

<p>
  <b>Icon unicode:</b>
  <%= @category.icon_unicode %>
</p>

<%= link_to 'New', new_category_path %> |
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
