      <div id="sidebar">
        <div id="sidebar-shortcuts">
          <div id="sidebar-shortcuts-large">
            <%= link_to "<i class='icon-plus'></i>#{t('new_app', :default => 'New App')}".html_safe , new_app_path, :class => "btn btn-small btn-success" %>
          </div>

          <div id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
          </div>
        </div><!--#sidebar-shortcuts-->

        <ul class="nav nav-list">
          
          <li id="menu-users-show">
            <%= link_to "<i class='icon-dashboard'></i><span>#{t('dashboard', :default => 'Dashboard')}</span>".html_safe, user_path(current_user) unless current_user.nil? %>              
            </a>
          </li>

          <% current_user.apps.each_with_index do |app, i | %>
          <li id="menu-apps-<%= app.id %>">
            <a href="#" class="dropdown-toggle">
              <i class="<%= app.category.icon_css %>"></i>
              <span><%= app.name %></span>

              <b class="arrow icon-angle-down"></b>
            </a>
            <ul class="submenu" style="display: none;">


              <li id="menu-apps-design-<%= app.id %>">
                <%= link_to "<i class='icon-double-angle-right'></i>#{t('design', :default => 'App\'s Design')}".html_safe, design_app_path(app) %>
              </li>              
              <li id="menu-apps-data-<%= app.id %>">
                <%= link_to "<i class='icon-double-angle-right'></i>#{t('data_management', :default => 'Data Management')}".html_safe, data_app_path(app) %>
              </li>

              <li id="menu-apps-show-<%= app.id %>">
                <%= link_to "<i class='icon-double-angle-right'></i>#{t('stat', :default => 'Statistic')}".html_safe, app_path(app) %>
              </li>
              <li id="menu-apps-edit-<%= app.id %>">
                <%= link_to "<i class='icon-double-angle-right'></i>#{t('general_settings', :default => 'General Settings')}".html_safe, edit_app_path(app) %>
              </li>
              <li id="menu-apps-admin_panel-<%= app.id %>">
                <%= link_to "<i class='icon-double-angle-right'></i>#{t('admin_panel', :default => 'Admin Panel')}".html_safe, admin_panel_app_path(app) %>
              </li>

            </ul>
          <li>
          <% end %>


          <!-- <li>
            <a href="typography.html">
              <i class="icon-text-width"></i>
              <span>Typography</span>
            </a>
          </li>

          <li>
            <a href="#" class="dropdown-toggle">
              <i class="icon-desktop"></i>
              <span>UI Elements</span>

              <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
              <li>
                <a href="elements.html">
                  <i class="icon-double-angle-right"></i>
                  Elements
                </a>
              </li>

              <li>
                <a href="buttons.html">
                  <i class="icon-double-angle-right"></i>
                  Buttons &amp; Icons
                </a>
              </li>

              <li>
                <a href="treeview.html">
                  <i class="icon-double-angle-right"></i>
                  Treeview
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a href="tables.html">
              <i class="icon-list"></i>
              <span>Tables</span>
            </a>
          </li>

          <li>
            <a href="#" class="dropdown-toggle">
              <i class="icon-edit"></i>
              <span>Forms</span>

              <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
              <li>
                <a href="form-elements.html">
                  <i class="icon-double-angle-right"></i>
                  Form Elements
                </a>
              </li>

              <li>
                <a href="form-wizard.html">
                  <i class="icon-double-angle-right"></i>
                  Wizard &amp; Validation
                </a>
              </li>

              <li>
                <a href="wysiwyg.html">
                  <i class="icon-double-angle-right"></i>
                  Wysiwyg &amp; Markdown
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a href="widgets.html">
              <i class="icon-list-alt"></i>
              <span>Widgets</span>
            </a>
          </li>

          <li>
            <a href="calendar.html">
              <i class="icon-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>

          <li>
            <a href="gallery.html">
              <i class="icon-picture"></i>
              <span>Gallery</span>
            </a>
          </li>

          <li>
            <a href="grid.html">
              <i class="icon-th"></i>
              <span>Grid</span>
            </a>
          </li>

          <li class="active open">
            <a href="#" class="dropdown-toggle">
              <i class="icon-file"></i>
              <span>Other Pages</span>

              <b class="arrow icon-angle-down"></b>
            </a>

            <ul class="submenu">
              <li>
                <a href="pricing.html">
                  <i class="icon-double-angle-right"></i>
                  Pricing Tables
                </a>
              </li>

              <li>
                <a href="invoice.html">
                  <i class="icon-double-angle-right"></i>
                  Invoice
                </a>
              </li>

              <li>
                <a href="login.html">
                  <i class="icon-double-angle-right"></i>
                  Login &amp; Register
                </a>
              </li>

              <li>
                <a href="error-404.html">
                  <i class="icon-double-angle-right"></i>
                  Error 404
                </a>
              </li>

              <li>
                <a href="error-500.html">
                  <i class="icon-double-angle-right"></i>
                  Error 500
                </a>
              </li>

              <li class="active">
                <a href="blank.html">
                  <i class="icon-double-angle-right"></i>
                  Blank Page
                </a>
              </li>
            </ul>
          </li>
        </ul>-->
        <!--/.nav-list -->

        <div id="sidebar-collapse">
          <i class="icon-double-angle-left"></i>
        </div> 
      </div>