<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : "Appfy" %></title>

    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Appfy" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--basic styles-->
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!--[if IE 7]>
      <link rel="stylesheet" href="assets/font-awesome-ie7.min.css" />
    <![endif]-->

    <!--page specific plugin styles-->

    <!--fonts-->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!--ace styles-->

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="assets/ace-ie.min.css" />
    <![endif]-->


    <%= csrf_meta_tags %>
    <%= yield(:head) %>

  </head>

  <body>


    <%= yield(:modal) %>

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container-fluid">

            <%= link_to "<small><i class='icon-leaf'></i> #{I18n.t('appfy_backend', :default => 'Appfy.cn backend Interface')}</small>".html_safe, user_path(current_user), :class => "brand" %>

          <%= render '/layouts/topleftnotifier' %>
        </div><!--/.container-fluid-->
      </div><!--/.navbar-inner-->
    </div>

    <div class="container-fluid" id="main-container">
      <a id="menu-toggler" href="#">
        <span></span>
      </a>

      <%= render '/layouts/leftmenu' %>


      <div id="main-content" class="clearfix">
        <div id="breadcrumbs">
          <ul class="breadcrumb">
            <li>
              <i class="icon-home"></i>
              <a href="#">Home</a>

              <span class="divider">
                <i class="icon-angle-right"></i>
              </span>
            </li>

            <li>
              <a href="#">Other Pages</a>

              <span class="divider">
                <i class="icon-angle-right"></i>
              </span>
            </li>
            <li class="active">Blank Page</li>
          </ul><!--.breadcrumb-->

          <div id="nav-search">
            <form class="form-search">
              <span class="input-icon">
                <input type="text" placeholder="Search ..." class="input-small search-query" id="nav-search-input" autocomplete="off" />
                <i class="icon-search" id="nav-search-icon"></i>
              </span>
            </form>
          </div><!--#nav-search-->
        </div>

        <div id="page-content" class="clearfix">
          <div class="row-fluid">
            <!--PAGE CONTENT BEGINS HERE-->
            <%= bootstrap_flash %>
            <%= yield %>


                <!-- DEBUG -->


            <!--PAGE CONTENT ENDS HERE-->
          </div><!--/row-->
        </div><!--/#page-content-->

        </div><!--/#ace-settings-container-->
      </div><!--/#main-content-->
    </div><!--/.fluid-container#main-container-->

    <a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
      <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
    <script type="text/javascript">
      current_page = '<%= current_page_name %>';
      current_app = '<%= current_app %>';

    </script>

    <%= javascript_include_tag "application" %>
    <%= yield(:js) %>

    <script type="text/javascript">
      $("#sidebar > a[href=\"#"+window.location.hash.substr(1)+"\"]").trigger("click");
    </script>
    <pre>
</pre>
  </body>
</html>
