<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%= content_for?(:title) ? yield(:title) : "Appfy" %></title>

    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Appfy" %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--basic styles-->
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!--[if IE 7]>
      <link rel="stylesheet" href="assets/font-awesome-ie7.min.css" />
    <![endif]-->

    <!--page specific plugin styles-->

    <!--fonts-->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!--ace styles-->

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="assets/ace-ie.min.css" />
    <![endif]-->


    <%= csrf_meta_tags %>
    <%= yield(:head) %>

  </head>
	<body class="login-layout">
		<div class="container-fluid" id="main-container">
			<div id="main-content">
				<div class="row-fluid">
					<div class="span12">
						<div class="login-container">
							<div class="row-fluid">
								<div class="center">
									<h1>
										<i class="icon-leaf green"></i>
										<span class="red">Appfy.cn</span>
										<span class="white">应用后台</span>
									</h1>
									<h4 class="blue">&copy; 北京意得捷优科技有限公司</h4>
								</div>
							</div>

							<div class="space-6"></div>

							<div class="row-fluid">
								<div class="position-relative">
									<div id="login-box" class="visible widget-box no-border">
										<div class="widget-body">
											<%= yield %>
										</div>
									</div><!--/login-box-->
								</div><!--/position-relative-->
							</div>
						</div>
					</div><!--/span-->
				</div><!--/row-->
			</div>
		</div><!--/.fluid-container-->

		<!--basic scripts-->

    	<%= javascript_include_tag "application" %>
		<!--page specific plugin scripts-->

		<!--inline scripts related to this page-->

		<script type="text/javascript">
			function show_box(id) {
			 $('.widget-box.visible').removeClass('visible');
			 $('#'+id).addClass('visible');
			}
		</script>
	</body>
</html>
