
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Appfy - Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Appfy">
    <meta name="author" content="itsium.cn">

    <!-- Le styles -->
    <%= stylesheet_link_tag "homepage", :media => "all" %>

    <!--[if IE 7]>
      <link rel="stylesheet" href="css/font-awesome-ie7.min.css">
      <link rel="stylesheet" href="css/font-awesome-more-ie7.min.css">
    <![endif]-->

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>
  
    <header id="header" class="header">
    
      <div class="navbar">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/">Appfy.cn</a>
            <ul class="nav  pull-right">
              <li class="active"><a href="/">主页</a></li>
<!--               <li><a href="#">SmartMap Story</a></li>
              <li><a href="#">Blog <span>12</span></a></li> -->
              <li><%= link_to "登录", new_user_session_path %></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="row-fluid">
          <div class="span7">
            <div class="header-description">
              <h1>Appfy.cn : 跨平台App DIY工具。 <br>让你的企业和你的业务APP化。 </h1>
            </div><!-- /header-description -->
            <div class="app-store-button-wrapper">
              <%= link_to "<i class='icon-apple'></i>点击注册".html_safe, new_user_registration_path, :class => "btn btn-warning btn-large apple-version" %></a>
            </div>         
          </div><!-- /span7 -->
          <div class="span5">
            <div class="iphone">
              <div class="iphone-slider">
                <div id="mobile-carousel" class="carousel slide">
                  <div class="carousel-inner">
                    <div class="item active">
                      <img src="assets/slide-1.jpg" alt="">
                    </div>
                    <div class="item">
                      <img src="assets/slide-2.jpg" alt="">
                    </div>
                    <div class="item">
                      <img src="assets/slide-3.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>           
          </div><!-- /span5 -->
        </div><!-- /row-fluid -->
      </div><!-- /container -->
    </header>
    
    <section id="description" class="description text-center">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <h2>Easy Come, Easy Go<br>SmartMap makes peripatetic's life dead easy.</h2>
          </div><!-- /span12 -->
        </div><!-- /row-fluid -->
      </div><!-- /container -->
    </section>
    
    <section id="app-shots" class="app-shots text-center">
      <div class="container">
        <div class="row-fluid">
          <div class="span3">
            <a href="#"><img src="assets/shot-1.jpg" alt="app shot" width="220" height="180"/></a>
          </div> 
          <div class="span3">
            <a href="#"><img src="assets/shot-2.jpg" alt="app shot" width="220" height="180"/></a>
          </div>
          <div class="span3">
            <a href="#"><img src="assets/shot-3.jpg" alt="app shot" width="220" height="180"/></a>
          </div>
          <div class="span3">
            <a href="#"><img src="assets/shot-4.jpg" alt="app shot" width="220" height="180"/></a>
          </div>          
        </div><!-- /row-fluid -->
      </div><!-- /container -->
    </section>
    
    <section id="site-testimonials" class="site-testimonials">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <div id="testimonials-carousel" class="carousel slide">
              <div class="carousel-inner">
                <div class="item active">
                  <article>
                    <img class="pull-left" src="assets/site-testimonial-1.png" alt="site testimonials" />
                    <p><strong>SmartMap is beyond recomendation.</strong> The only thing that I can say is pure awesomeness. Donec mattis dapibus elit eleifend fringilla. Phasellus ante mi, pellentesque.</p>
                  </article>
                </div>
                <div class="item">
                  <article>
                    <img class="pull-left" src="assets/site-testimonial-1.png" alt="site testimonials" />
                    <p><strong>SmartMap is beyond recomendation.</strong> The only thing that I can say is pure awesomeness. Donec mattis dapibus elit eleifend fringilla. Phasellus ante mi, pellentesque.</p>
                  </article>
                </div>
                <div class="item">
                  <article>
                    <img class="pull-left" src="assets/site-testimonial-1.png" alt="site testimonials" />
                    <p><strong>SmartMap is beyond recomendation.</strong> The only thing that I can say is pure awesomeness. Donec mattis dapibus elit eleifend fringilla. Phasellus ante mi, pellentesque.</p>
                  </article>
                </div>
              </div>
              <ol class="carousel-indicators">
                <li data-target="#testimonials-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#testimonials-carousel" data-slide-to="1"></li>
                <li data-target="#testimonials-carousel" data-slide-to="2"></li>
              </ol>
            </div><!-- /slider-carousel -->
          </div><!-- /span12 -->
        </div><!-- /row-fluid -->
      </div><!-- /container -->
    </section>
       
    <div class="divider"></div>
       
    <section id="steps" class="steps text-center">
      <h3 class="entry-title">How It Works</h3>
      <div class="container">
        <div class="row-fluid">
          <div class="span4">
            <article>
              <i class="icon-download-alt"></i>
              <h4>1. Download</h4>
              <p>Aenean nisl mauris, pretium eu ornare quis, gravida ut risus. Aenean tristique lorem at nunc congue</p>
            </article>
          </div><!-- /span4 -->
          
          <div class="span4">
            <article>
              <i class="icon-mobile-phone"></i>
              <h4>1. Install</h4>
              <p>Aenean nisl mauris, pretium eu ornare quis, gravida ut risus. Aenean tristique lorem at nunc congue</p>
            </article>
          </div><!-- /span4 -->
          
          <div class="span4">
            <article>
              <i class="icon-globe"></i>
              <h4>1. Enjoy</h4>
              <p>Aenean nisl mauris, pretium eu ornare quis, gravida ut risus. Aenean tristique lorem at nunc congue</p>
            </article>
          </div><!-- /span4 -->
        </div><!-- /row-fluid -->
      </div><!-- /container -->
    </section>
    
    <div class="divider"></div>
       
    <section id="features" class="features">
      <h3 class="text-center entry-title">What Makes It So Awesome</h3>
      <div class="container">
        <div class="row-fluid">
          <div class="span6">
            <article>
              <i class="icon-heart pull-left"></i>
              <p>In malesuada posuere ullamcorper. Donec et mi nulla, dapibus venenatis ligula.</p>
            </article>
          </div><!-- /span6 -->
          
          <div class="span6">
            <article>
              <i class="icon-camera pull-left"></i>
              <p>In malesuada posuere ullamcorper. Donec et mi nulla, dapibus venenatis ligula.</p>
            </article>
          </div><!-- /span6 -->
          
          <div class="span6">
            <article>
              <i class="icon-ok pull-left"></i>
              <p>In malesuada posuere ullamcorper. Donec et mi nulla, dapibus venenatis ligula.</p>
            </article>
          </div><!-- /span6 -->
          
          <div class="span6">
            <article>
              <i class="icon-magnet pull-left"></i>
              <p>In malesuada posuere ullamcorper. Donec et mi nulla, dapibus venenatis ligula.</p>
            </article>
          </div><!-- /span6 -->
          
          <div class="span6">
            <article>
              <i class="icon-screenshot pull-left"></i>
              <p>In malesuada posuere ullamcorper. Donec et mi nulla, dapibus venenatis ligula.</p>
            </article>
          </div><!-- /span6 -->
          
          <div class="span6">
            <article>
              <i class="icon-bookmark pull-left"></i>
              <p>In malesuada posuere ullamcorper. Donec et mi nulla, dapibus venenatis ligula.</p>
            </article>
          </div><!-- /span6 -->
          
          <div class="span6">
            <article>
              <i class="icon-bar-chart pull-left"></i>
              <p>In malesuada posuere ullamcorper. Donec et mi nulla, dapibus venenatis ligula.</p>
            </article>
          </div><!-- /span6 -->
          
          <div class="span6">
            <article>
              <i class="icon-key pull-left"></i>
              <p>In malesuada posuere ullamcorper. Donec et mi nulla, dapibus venenatis ligula.</p>
            </article>
          </div><!-- /span6 -->
        </div><!-- /row-fluid -->
      </div><!-- /container -->
    </section>
    
    <div class="divider"></div>
       
    <section id="screenshots" class="screenshots text-center">
      <h3 class="entry-title">How It Looks Like</h3>
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <ul id="myTab" class="nav nav-pills">
              <li class="active"><a href="#screenshot-1" data-toggle="tab">Screenshot 1</a></li>
              <li><a href="#screenshot-2" data-toggle="tab">Screenshot 2</a></li>
              <li><a href="#screenshot-3" data-toggle="tab">Screenshot 3</a></li>
              <li><a href="#screenshot-4" data-toggle="tab">Screenshot 4</a></li>
              <li><a href="#screenshot-5" data-toggle="tab">Screenshot 5</a></li>
              <li><a href="#screenshot-6" data-toggle="tab">Screenshot 6</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="screenshot-1">
                <img src="assets/screenshot.jpg" alt="screenshot" />
                <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
              </div>
              <div class="tab-pane fade" id="screenshot-2">
                <img src="assets/screenshot.jpg" alt="screenshot" />
                <p>Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
              </div>
              <div class="tab-pane fade" id="screenshot-3">
                <img src="assets/screenshot.jpg" alt="screenshot" />
                <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.</p>
              </div>
              <div class="tab-pane fade" id="screenshot-4">
                <img src="assets/screenshot.jpg" alt="screenshot" />
                <p>Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
              </div>
              <div class="tab-pane fade" id="screenshot-5">
                <img src="assets/screenshot.jpg" alt="screenshot" />
                <p>Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
              </div>
              <div class="tab-pane fade" id="screenshot-6">
                <img src="assets/screenshot.jpg" alt="screenshot" />
                <p>Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
              </div>
            </div>
          </div><!-- /span12 -->
        </div><!-- /row-fluid -->
      </div><!-- /container -->
    </section>
    
    <div class="divider"></div>
       
    <section id="user-testimonials" class="user-testimonials">
      <h3 class="text-center entry-title">What Our Users Say</h3>
      <div class="container">
        <div class="row-fluid">
          <div class="span4">
            <img class="pull-left" src="assets/user.jpg" alt="user" />
            <blockquote>
              <p>Proin sit amet scelerisque erat. Nam congue varius rhoncus. Nunc et massa at purus porta posuere. Maecenas fringilla convallis justo, id venenatis ipsum ultrices ac.</p>
              <small>Jack joe</small>
            </blockquote>
          </div><!-- /span4 -->
          
          <div class="span4">
            <img class="pull-left" src="assets/user.jpg" alt="user" />
            <blockquote>
              <p>Aenean vestibulum risus sit amet leo suscipit eu placerat metus eleifend. Aliquam mattis luctus risus at egestas. Aliquam aliquam placerat nunc, vel commodo augue pretium et. Integer nec turpis massa. </p>
              <small>John Doe</small>
            </blockquote>
          </div><!-- /span4 -->
          
          <div class="span4">
            <img class="pull-left" src="assets/user.jpg" alt="user" />
            <blockquote>
              <p>Proin sit amet scelerisque erat. Nam congue varius rhoncus. Nunc et massa at purus porta posuere. Maecenas fringilla convallis.</p>
              <small>Mike Mia</small>
            </blockquote>
          </div><!-- /span4 -->
        </div><!-- /row-fluid -->
      </div><!-- /container -->
    </section>
    
    <div class="divider"></div>
       
    <section id="screencast" class="screencast text-center">
      <h3 class="entry-title">See In Action</h3>
      <div class="container">
        <div class="row-fluid">
          <div class="span8">
          
          <div class="video">
            VIDEO
          </div>
          
          </div><!-- /span12 -->
        </div><!-- /row-fluid -->
      </div><!-- /container -->
    </section>
    
    <div class="divider"></div>
    
    <section id="subscribe" class="subscribe text-center">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <form class="subsc-form">
              <span class="help-inline">Receive updates and news:</span>
              <input type="email" name="subscriber" placeholder="your email" required />
              <button type="submit" class="btn btn-info" >Subscribe</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    
    <div class="divider"></div>
    
    <section id="buy-buttons" class="buy-buttons text-center">
      <div class="container">
        <div class="row-fluid">
          <div class="span12">
            <a class="btn btn-danger" href="#"><i class="icon-android"></i> Buy only for $9</a>
            <a class="btn btn-success" href="#"><i class="icon-apple"></i> Buy only for $9</a>
          </div>
        </div>
      </div>
    </section>
    
    <footer id="footer" class="footer">
      <div class="container">
        <div class="row-fluid">
          <div class="span2">
            <a class="pull-left footer-logo" href="index.html"><i class="icon-map-marker"></i> SmartMap.</a>
          </div>
          
          <div class="span4">
            <p class="footer-description">In malesuada posuere ullamcorper. Donec et mi nulla, dapibus venenatis ligula. Nam porta tristique blandit. In a libero in quam vestibulum dictum. Suspendisse dui velit, vehicula at interdum eget, rutrum sed ante. Vestibulum ante ipsum primis.</p>
          </div>
          <div class="span3">
            <p class="footer-follow">Follow SmartMap.<p>
            <ul class="unstyled inline social-icons">
              <li><a href="#"><i class="icon-facebook"></i></a></li>
              <li><a href="#"><i class="icon-twitter"></i></a></li>
              <li><a href="#"><i class="icon-github"></i></a></li>
              <li><a href="#"><i class="icon-pinterest"></i></a></li>
              <li><a href="#"><i class="icon-linkedin-sign"></i></a></li>
              <li><a href="#"><i class="icon-google-plus"></i></a></li>
            </ul>
          </div>
          <div class="span3">
            <p class="footer-follow">Site Map.<p>
            <ul class="unstyled site-map">
              <li><a href="index.html">Home</a></li>
              <li><a href="story.html">SmartMap Story</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="about.html">About</a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="copyright text-center">
        <p>
          <a href="#">SmartMap</a> &copy;; All Right Reserved.
        </p>
      </div>
      
      <div class="contact-form-wrapper">
        <span class="contact-btn closed">Contact Form</span>
        <div class="contact-form-inner">
          <form class="contact-form">
            <fieldset>
              <input class="input-block-level" type="text" name="name" placeholder="your name">
              <input class="input-block-level" type="email" name="email" placeholder="your email">
              <textarea class="input-block-level" rows="3" name="message" placeholder="your message"></textarea>
              <button class="btn btn-success" type="submit">Submit</button>
            </fieldset>
          </form>
        </div>
      </div>
      
    </footer>

    <%= javascript_include_tag "homepage" %>
  </body>
</html>
